{{ ansible_managed | comment }}

{% for server in ntp_servers %}
{% if server is mapping %}
server {{ server.address }} {{ server.options | default("") }}
{% else %}
server {{ server }}
{% endif %}
{% endfor %}

{% for restrict in ntp_restrict %}
restrict {{ restrict }}
{% endfor %}

# Allow local queries
restrict 127.0.0.1
restrict ::1

# Location of drift and log files
driftfile {{ ntp_driftfile }}

{% if ntp_statistics is defined %}
# Statistics
statistics {{ ntp_statistics | join(" ") }}
{% for stat in ntp_statistics %}
filegen  {{ stat }} file {{ stat }} type day enable
{% endfor %}
{% endif %}
